.active {
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    min-width: 150px;
    transition: background .2s linear, color .2s linear;

    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    margin: 5px;

    background: rgba(0, 0, 0, 0);
}

.active:hover {
    background-color: #fff;
    color: #333;
}

.unactive {
    cursor: pointer;
    text-decoration: none;
    font-size: 8px;
    color: #fff;

    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    margin: 5px;

    border: none;

    background: rgba(0, 0, 0, 0);
}